/*  ICONS
---------------------------------------------------*/
    %icon {
        display: inline-block;
    }

    // Arrow
    // -----------------------------------------------------------
        .icon__arrow-up {
            @extend %icon;
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAdCAYAAABFRCf7AAAAvklEQVRIie3SIQ7CMBTG8REkAoXZBfBYLNwDtwPM7wxTOwEWZncIrjA1xS4AWZbA1+R9pnTsbUUgKv5p0r73U42211OkaIUuco7Oa0DTGb3k/AmaCMgSX3SHHhb6lPtZ6BrVFshqeZ+ELlA5ALJS5tRoOgKyVIvuUadEO5n/im5QowRZI3tOdImqiSCrZP8DzWaCLLPRI+o9UbN/IBqjuyfIjBMbNEc3q1aJtI7dfOifFkq0cO0HNKABDeh/o28nEAnbcgwvVwAAAABJRU5ErkJggg==') no-repeat top left;
            width: 21px;
            height: 29px;
            padding-left: px2em(20px);
        }
        .icon__arrow-down {
            @extend %icon;
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAdCAMAAABymtfJAAAABGdBTUEAALGPC/xhBQAAAFpQTFRF50w850w850w850w850w850w850w850w850w850w850w850w850w850w850w850w850w850w850w850w850w850w850w850w850w850w850w850w8AAAA50w8vfGzFgAAAB10Uk5Tfn8QD60bA+pFkOm5/BXkOzIB+AuvZ/rdpHPMlgCg84eVAAAAeUlEQVQoz+3POQKAIAwEwHjjrXjr8v9vCqiIWNm7VTIFWQgqm7iy6Z1+/a7pKpMYTdSaUpQJN1lEYIWDBVPveo6SvhbnD8zjo0NZWViVV7N6NDjWd9/F6GL9ou1P7FtLEUwaJx+2ouESeYOnYpA6wFXMYsZbu7Az8w4kbkDHALHYjwAAAABJRU5ErkJggg==') no-repeat top left;
            width: 21px;
            height: 29px;
            padding-left: px2em(20px);
        }
        .icon__arrow-normal {
            @extend %icon;
            width: 29px;
            height: 21px;
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAVCAMAAACNHhVQAAAABGdBTUEAALGPC/xhBQAAAFpQTFRF8cQP8cQP8cQP8cQP8cQP8cQP8cQP8cQP8cQP8cQP8cQP8cQP8cQP8cQP8cQP8cQP8cQP8cQP8cQP8cQP8cQP8cQP8cQP8cQP8cQP8cQP8cQP8cQPAAAA8cQPnOlaqQAAAB10Uk5TREX3+K3qfrjpGvyQAxXjr3Nn3foLATKkDzvMlgDqu0+mAAAAZUlEQVQoz53SVwqAMBAE0LXHGmNvc/9riqhgRAbM/C2PQLbIZidPn5W8dFEeU2RxQRRISqao5ltXO9GhaOv+VHxHT0zRDEzhG6bA2DFF6Po2MK5/vvrls+Jz/rkjul8l5Dbsu9oBy+tAx7SlLUQAAAAASUVORK5CIIA=') no-repeat top left;
            padding-left: px2em(25px);
        }
